@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /*color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
*/
}

h1 {
    font-size: 150%;
    font-variant: small-caps;
    font-weight: bold;
}

div.renderedMarkdownInside h2 {
    font-size: 110%;
    font-style: italic;
    margin-top: 1em;
}

div.renderedMarkdownInside a {
    color: blue;
}

code {
    background-color: white;
    font-family: "Courier New"
}

div.renderedMarkdownInside p {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

ul {
    list-style-type: disc; /* Bulleted list for unordered list */
    margin-left: 20px; /* Optional: Add some left margin */
}

ol {
    list-style-type: decimal; /* Numbered list for ordered list */
    margin-left: 20px; /* Optional: Add some left margin */
}

div.renderedMarkdownInside ol li {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

div.renderedMarkdownInside ul li {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
